<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <script src="/js/bootstrap.min.js"></script>
  <style>
    body {
      width: 100%;
      height: 100%;
    }
    .container {
      width: 100%;
      height: 100%;
    }
    #input {
      position: relative;
      bottom: 0;
    }
  </style>
  <title>Socket.IO 채팅</title>
</head>
<body>
  <div class="container">
    <h3>Socket.IO 채팅</h3>
    <ul id="chat" class="list-group list-group-flush">
      <li class="list-group-item list-group-item">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">${username}</h5>
        </div>
        <p class="mb-1">${message}</p>
      </li>
    </ul>

    <form id="input-form">
      <div class="input-group mb-3">
        <input type="text" class="form-control" id="input" placeholder="전송할 메시지">
        <button class="btn btn-outline-primary" type="submit">전송</button>
      </div>
    </form>
  </div>
  <script>
    let chatList = document.getElementById('chat');
    let inputForm = document.getElementById('input-form');

    //여기에 Socket.IO 코드 작성
    
    inputForm.onsubmit = (e) => {
      e.preventDefault();
      let input = document.getElementById('input');
      let inputValue = input.value;
      console.log(`입력값: ${inputValue}`);
      input.value = "";

      //여기에 Socket.IO 코드 작성
    }

    
  </script>
</body>
</html>