<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <script src="/js/bootstrap.min.js"></script>
  <title>Socket.IO 채팅</title>
</head>
<body>
  <div class="container">
    <h3>Socket.IO 채팅</h3>
    <ul id="chat" class="list-group list-group-flush">
      <li class="list-group-item list-group-item">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">${username}</h5>
        </div>
        <p class="mb-1">${message}</p>
      </li>
    </ul>
  </div>
  <script>
    let chatList = document.getElementById('chat');

    //여기에 Socket.IO 코드 작성
  </script>
</body>
</html>